* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FE5C01;
  background: linear-gradient(0deg, rgba(254, 92, 1, 1) 0%, rgba(255, 255, 255, 1) 100%);
  width: 100vw;
  height: 100vh;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 2vw, 6rem);

}